@model IEnumerable<ReactDemo.Models.CommentModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello React</title>
</head>
<body>
    @Html.React("CommentBox", new
    {
        initialData = Model,
        url = Url.Action("Comments"),
        submitUrl = Url.Action("AddComment"),
        pollInterval = 2000,
    })
    <script src="http://fb.me/react-0.12.2.js"></script>
    @Scripts.Render("~/bundles/main")
    @Html.ReactInitJavaScript()
</body>
</html>
