@model IEnumerable<ReactDemo.Models.CommentModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello React</title>
</head>
<body>
    @Html.React("CommentBox", new
    {
        initialData = Model,
        url = Url.Action("Comments"),
        submitUrl = Url.Action("AddComment"),
        pollInterval = 2000,
    })
    <script src="/bower_components/requirejs/require.js"></script>
    <script>
        require.config({
            baseUrl: '/Scripts/', //or /BuildAssets/
            paths: {
                react: '../bower_components/react/react-with-addons',
                JSXTransformer: '../bower_components/react/JSXTransformer',
                jsx: '../bower_components/jsx-requirejs-plugin/js/jsx',
                text: '../bower_components/requirejs-text/text',
                main: 'main',
                Comment: 'Comment',
                CommentList: 'CommentList',
                CommentForm: 'CommentForm',
                CommentBox: 'CommentBox',
	            showdown: 'showdown'
            },
            jsx: {
                fileExtension: '.jsx'
            }
        });

        require(['main']);
    </script>
</body>
</html>